/* My Own Stuff */
.navbar-nav li a.image {
	padding: 0px 0px 0px 15px;
}

section {
	float: clear;
	background-color: #A48475;
}

h1.title {
	text-align: center;
}

h1#ochre {
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	article {
		padding: 0% 5% 0% 5%;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	article {
		padding: 0% 10% 0% 10%;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	article {
		padding: 0% 15% 0% 15%;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	article {
		padding: 0% 20% 0% 20%;
	}
}


p.subtitle {
	text-align: center;
	font-weight: bold;
}

p.todo {
	font-style: italic;
}

/*Center items in the hamburger
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
*/

/* Dropdown Button */
.dropbtn {
    color: #9d9d9d;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	background-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /*background-color: #AE4B36;*/
	color: brown;
}

/* Copyleft */
.copy-left {
	display: inline-block;
	text-align: right;
	margin: 0px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: “FlipH”;
}
